.categories__content {
	padding: 15px 0;
	color: white;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.3%;
	text-align: center;
	display: flex;
	justify-content: center;
	//background: $other-color;
}

.categories__text {}

.categories__container {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

h1 {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 3rem;
}